@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #c0aa11;
  opacity: 0.5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkslategrey;
}
.hide-scrollbar::-webkit-scrollbar {
  width: 2px;
}
.hide-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c0aa11;
}
